{% extends 'base.html' %}
{% block content %}
<main>
   <h1></h1>
   <table>
      <thead>
         <tr>
            <th>Name</th>
            <th>Number of receipts</th>
         </tr>
      </thead>
      <tbody>
         {% for category in categories %}
         <tr>
            <li> {{ category.name }} </li>
            <li> {{ category.receipts.count }} </li>
         </tr>
         {% endfor %}
      </tbody>
   </table>
</main>
{% endblock content %}
