{% extends 'base.html' %}
{% block content %}
<main>
   <table>
      <thead>
         <tr>
            <th>Name</th>
            <th>Number</th>
            <th>Number of Receipts</th>
         </tr>
      </thead>
      <tbody>
         {% for account in accounts %}
         <tr>
            <td>{{ account.name }}</td>
            <td>{{ account.number }}</td>
            <td>{{ account.receipts.count }}</td>
         </tr>
         {% empty %}
         <tr>
            <td colspan="3">No accounts found.</td>
         </tr>
         {% endfor %}
      </tbody>
   </table>
</main>
{% endblock content %}
